<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        h1{
            color: red,
        }

        p{
            color: blue,
        }
    </style>
</head>
<body>

    <h1>Welcome to my app {{name}}</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium mollitia distinctio debitis facere nihil aliquid vel expedita cumque at accusamus hic, ab animi ut officiis asperiores odio maxime. Ad, quia!</p>   
</body>
</html>

